* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


.projects-main {
    background-image: url(../assets/Images/\,\,jkj.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 200px;
}

.projects-top-text {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 100px 0px;
}

.projects-top-text h1 {
    font-family: Deutschlander;
    font-size: 150px;
    letter-spacing: 1px;
    color: #ffff;
    letter-spacing: 2px;
    line-height: 85px;
    padding: 10px 0px;
    text-transform: uppercase;
}



.projects-top-text p {
    font-size: 16px;
    color: #ffff;
    padding: 20px 0px 10px 0px;
    width: 70%;
    margin: auto;
}


/* =============project-hero-sec============== */
.hero-project-b {
    width: 60%;
    border: 1px solid white;
}

.project-hero-sec {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
}

.project-hero-text {
    /* padding: 0px 40px 0px 0px; */
    width: 50%;
}

.project-hero-img {
    display: flex;
    justify-content: end;
}

.project-hero-img img {
    width: 90%;
}

.project-hero-text h1 {
    font-family: Deutschlander;
    font-size: 85px;
    letter-spacing: 1px;
    color: #ffff;
    letter-spacing: 2px;
    line-height: 85px;
    padding: 10px 0px;
    text-transform: uppercase;
}

.project-hero-text p {
    font-size: 16px;
    color: #ffff;
    margin: auto;
    padding-top: 20px;
}


/* Projects-Acco */
.Projects-Acco {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

@media (max-width: 768px) {
    .projects-main {
        padding-top: 130px;
    }

    .projects-top-text {
        width: 90%;
        margin: auto;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 0px;
    }

    .projects-top-text p {
        width: 90%;
        margin: auto;
    }

    .projects-top-text h1 {
        font-size: 100px;
    }

    .project-hero-sec {
        width: 90%;
        flex-direction: column;
    }

    .project-hero-text {
        width: 90%;
        padding-bottom: 60px;
    }

    .project-hero-text h1 {

        font-size: 60px;
        line-height: 60px;
    }

    .project-hero-img {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .project-hero-img {
        width: 100%;
    }

    .Projects-Acco {
        width: 100%;
    }

    .project-accordion-main-inner {
        flex-direction: column;
    }

}