

.canvas-container {
    background-color: #f0f0f0; /* Set your desired background color */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }
  
  #canvas3d {
    border: 2px solid #ddd;
    border-radius: 8px; /* Optional: Add border-radius for a rounded look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow for depth */
    margin: 20px; /* Optional: Add margin for spacing */
  }
  