/* .recent .slick-slide{

    padding:0px  120px;

} */
.recent .slick-slider.slick-initialized {
  /* margin: 0px -15px 15px 0px; */
  padding: 0px 0px;
}
.recent .slick-slide img {
  display: block;
  /* height: 370px;
    width: 330px; */
  width: 100%;
  height: 100%;
}

.recent-slide-main {
  width: 200px;
  height: 300px;
  overflow: hidden;
}

.recent-img-main {
  width: 94%;
  max-height: 95%;
  overflow-y: hidden;
  position: relative;
  border-radius: 10px;
}

.recent-slide-main {
  margin: auto;
  border-radius: 5px;
  cursor: pointer;
}

.recent-img-main {
  width: 95%;
  height: 100%;
  overflow: hidden;
}

/* .why-us-arrows */
.why-us-arrows {
  position: absolute;
  top: 50px;
  transform: translateX(-50%); /* Center the arrows horizontally */
}

.why-us-next {
  background-color: #42bed5;
  left: 53%;
  right: auto;
  padding: 15px;
  top: -140px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border-radius: 6px;
}

.why-us-prev {
  background-color: #42bed5;
  right: 53%;
  left: auto;
  padding: 15px;
  top: -140px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}
/* .why-us-arrows---end */
.recent-img-main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transition: 10s all ease;
  &:hover {
    object-position: bottom;
  }
}
