* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}


body {
  color: black;
  height: 100vh;

}

@font-face {
  font-family: "Deutschlander";
  src: local("Deutschlander"),
    url("./assets/fonts/FontsFree-Net-Deutschlander.ttf") format("truetype");
  font-weight: bold;
}