* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}



body {
  color: black;
  scroll-behavior: smooth;

}

@font-face {
  font-family: "Deutschlander";
  src: local("Deutschlander"),
    url("./assets/fonts/FontsFree-Net-Deutschlander.ttf") format("truetype");
  font-weight: bold;
}